.el-table >>> .btn-text
  color $base-blue
  cursor pointer

.el-table >>> .sort-button
  cursor pointer

.el-table >>> .active-sort
  color $base-blue

.el-table >>> .tableHeaderClass th
  background-color $table-header-bgc !important
  height 48px
