.file-tab-wapper
  background-color #ffffff
  position relative
  min-height calc(100vh - 167px)

.file-tab-wapper >>> .el-tabs__item
    padding-left 25px !important
    font-size 16px
    line-height 56px
    height 56px

.flex-row
  display: flex
  width: 100%

.flex-between-row
  display: flex
  width: 100%
  justify-content: space-between
  align-items: center

