// 定义一些常用的、不会存在歧义的样式

// margin
.m-l-3
  margin-left: 3px
.m-r-7
  margin-right: 7px
.m-l-24
  margin-left: 24px
.m-t-20
  margin-top: 20px
.m-b-5
  margin-bottom: 5px

// padding
.p-30
  padding 30px
.p-0-15
  padding 0 15px

// font-size
.font-size-12
  font-size 12px
.font-size-13
  font-size 13px
.font-size-14
  font-size 14px

// 滚动条样式
.beauty-scroll
  overflow-y auto
  &::-webkit-scrollbar{
    width: 6px;
  }
  &::-webkit-scrollbar:horizontal{
    height: 8px;
  }
  &::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background-color: #ccc;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-corner{
    display: none;
  }

// 省略号样式
.text-overflow
  white-space nowrap
  text-overflow: ellipsis
  overflow hidden
  word-break break-all