// 定义一些常用的、不会存在歧义的样式

// margin
.m-t-5
  margin-top 5px
.m-t-12
  margin-top 12px
.m-t-20
  margin-top 20px
.m-t-24
  margin-top 24px
.m-t-35
  margin-top 35px

.m-r-5
  margin-right 5px
.m-r-7
  margin-right 7px
.m-r-8
  margin-right 8px
.m-r-10
  margin-right 10px
.m-r-30
  margin-right 30px

.m-b-5
  margin-bottom 5px
.m-b-10
  margin-bottom 10px
.m-b-12
  margin-bottom 12px
.m-b-24
  margin-bottom 24px

.m-l-3
  margin-left 3px
.m-l-5
  margin-left 5px
.m-l-10
  margin-left 10px
.m-l-16
  margin-left 16px
.m-l-18
  margin-left 18px
.m-l-20
  margin-left 20px
.m-l-24
  margin-left 24px
.m-l-40
  margin-left 40px
.m-t-20
  margin-top 20px


.m-0-12
  margin 0 12px

// padding
.p-30
  padding 30px
.p-0-15
  padding 0 15px
.p-10-0
  padding 10px 0

// font-size
.font-size-12
  font-size 12px
.font-size-13
  font-size 13px
.font-size-14
  font-size 14px
.font-size-28
  font-size 28px

// 滚动条样式
.beauty-scroll
  overflow-y scroll
  &::-webkit-scrollbar{
    width: 6px;
  }
  &::-webkit-scrollbar:horizontal{
    height: 8px;
  }
  &::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background-color: #ccc;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-corner{
    display: none;
  }

// 省略号样式
.text-overflow
  white-space nowrap
  text-overflow: ellipsis
  overflow hidden
  word-break break-all

.empty-svg
  height 130px
  width 100%
  padding 80px 0

// 范围、颗粒度、按销量、销售额的分组按钮
.filter-group-btn-wapper
  display flex
  align-items center
  color $base-gray
  font-size $font-size-12
  .filter-label
    color $color-second
    line-height 20px
  .filter-btn
    height 22px
    padding 2px 14px 3px 14px

.filter-label
  font-size $font-size-12
  color $color-second
  line-height 20px
  margin-right 20px

// table header css
.el-table
  .tableCellClass
    border-bottom: 1px solid #EBEEF5;
  .tableHeaderClass th
    background-color $table-header-bgc !important
    height 48px
    color $color-light-gary
    font-weight bolder
    font-size 14px
.el-table
  .el-table-column--selection > div
     padding 0 14px

.custom-tree-node
  font-size 14px
  color $color-light-gary

.loading-class
  .el-icon-loading
    color $base-blue
  .el-loading-text
    color $base-blue


// this.$confirm 样式
.message-box
  padding 32px
  border-radius 1px
  .el-message-box__header
    padding 0
    margin-bottom 12px
  .el-message-box__content
    padding 0
    margin-bottom 24px

// fade 动画
.fade-enter-active{
  -webkit-animation: fadeIn .3s;
  animation: fadeIn .3s
  }
.fade-leave-active{
  -webkit-animation:fadeOut .3s;
  animation:fadeOut .3s}

@keyframes fadeIn {
  0% {
    transform: translate3d(0,-20px,0)
    opacity: 0
  }
  100% {
    transform:translate3d(0,0,0)
    opacity:1
  }
}
@keyframes fadeOut {
  0% {
    transform:translate3d(0,0,0)
    opacity:1
  }
  100% {
    transform:translate3d(0,-20px,0)
    opacity:0
  }
}

// 字体颜色
.text-second
  color $color-second
.text-warning
  color $color-warning
.btn-text
  color $base-blue
  cursor pointer