// 颜色定义规范
$base-blue = #5B8FF9
$base-green = #5AD8A6
$base-deep-blue = #5D7092
$base-white = #F8F8F8
$bsse-yellow = #FFEE99
$base-white-smoke = #E0E8F9
$base-light-green = #B9ECD8

$color-title = #303133
$color-second = #727487
$color-deep-gray = #363746

$font-size-12 = 12px
$font-size-16 = 16px

$shadow-color = #0000004D

$table-header-bgc = #F7F8FA
$color-border = #dddddd

