// 颜色定义规范
$base-blue = #5B8FF9
$base-gray = #727487
$base-deep-gary = #5D7092
$base-green = #5AD8A6
$bsse-yellow = #FFEE99
$base-white = #F8F8F8

$font-size-12 = 12px
$font-size-16 = 16px
$color-main = #303133
$color-gary = #727487
$color-deep-gray = #363746




