// 全局修改elementUI样式

// button 圆角
.el-button
  border-radius 0px

// select 圆角
.el-select
  .el-input
    .el-input__inner
      border-radius 1px

// tab nav 自定义
.el-tabs
  .el-tabs__header
    .el-tabs__nav
      .el-tabs__item
        padding-left 25px !important
        font-size 16px
        line-height 56px
        height 56px
  .el-tabs__content
    padding 20px