// 全局修改elementUI样式
@import './default.styl'
// button 圆角
.el-button
  border-radius 0px

// input 圆角 (select同样生效)
.el-input > .el-input__inner
  border-radius 1px

// tab nav 自定义
.el-tabs > .el-tabs__header
    margin 0px
    .el-tabs__nav-wrap::after
      height 1px
    .el-tabs__nav
      .el-tabs__active-bar
        background-color $base-blue
      .is-active
        color $base-blue
      .el-tabs__item
        padding-left 25px !important
        font-size 16px
        line-height 56px
        height 56px
        &:hover
          color $base-blue
.el-tabs > .el-tabs__content
    padding 20px


// 修改 button 的蓝色
.el-button:focus, .el-button:hover 
    border-color $base-blue
    color $base-blue
    background-color #ffffff
.el-button--primary
  border-color $base-blue
  background-color $base-blue
  color #ffffff
  &:focus, &:hover
    border-color $base-blue
    background-color $base-blue
    color #ffffff
  &.is-disabled
    color #fff 
    background-color #91b1f2
    border-color #91b1f2

// 修改菜单激活的蓝色
.el-menu
  .is-active
    color $base-blue !important
    background: rgba(91, 143, 249, 0.03)

// 多选框 选中颜色
.el-checkbox .is-checked > .el-checkbox__inner
  border-color $base-blue
  background-color $base-blue

.el-checkbox > .is-indeterminate > .el-checkbox__inner
  border-color $base-blue
  background-color $base-blue

// 弹出框样式
.el-dialog
  .el-dialog__header
    border-bottom 1px solid $color-border
  .el-dialog__body
    padding 23px
  .el-dialog__footer
    text-align center

// 单选框样式
.el-radio >  .is-checked
  .el-radio__inner
    border-color $base-blue
    background $base-blue
  .el-radio__label
    color $base-blue

.el-radio > .el-radio__input > .el-radio__inner:hover
  border-color $base-blue

.el-tag 
  border-radius 1px

// el-button--small
.el-button--small
  width 65px

.el-table
  color: #363746