// 全局修改elementUI样式
@import './default.styl'

// input 圆角 (select同样生效)
.el-input > .el-input__inner
  border-radius 1px

// tab nav 自定义
.el-tabs > .el-tabs__header
    margin 0px
    .el-tabs__nav-wrap::after
      height 1px
    .el-tabs__nav
      .el-tabs__active-bar
        background-color $base-blue
      .is-active
        color $base-blue
      .el-tabs__item
        padding-left 25px !important
        font-size 16px
        line-height 56px
        height 56px
        &:hover
          color $base-blue
.el-tabs > .el-tabs__content
    padding 25px


// el-button
.el-button.is-plain:focus, .el-button.is-plain:hover 
    border-color $base-blue
    color $base-blue
    background-color #ffffff

.el-button--primary
  border-color $base-blue
  background-color $base-blue
  color #ffffff
  &:focus, &:hover
    border-color $base-blue
    background-color $base-blue
    color #ffffff
  &.is-disabled
    color #fff 
    background-color #ADC7FC
    border-color #ADC7FC

.el-button--dashed
  border 1px dashed $base-blue
  color $base-blue
  &:focus, &:hover
    border-color $base-blue
    background-color $base-blue
    color #ffffff
  
.el-button--dashed--gary
  border 1px dashed $color-light-gary
  color $color-light-gary
  &:focus, &:hover
    border-color $color-light-gary
    background-color $color-light-gary
    color #ffffff

.el-button--text
  color $base-blue
  &:focus, &:hover
    color $base-blue

.el-button--small
  min-width 65px
.el-button
  border-radius 0px
  
// 修改菜单激活的蓝色
.el-menu
  .is-active
    color $base-blue !important
    background: rgba(91, 143, 249, 0.03)

// 多选框 选中颜色
.el-checkbox .is-checked > .el-checkbox__inner
  border-color $base-blue
  background-color $base-blue

.el-checkbox > .is-indeterminate > .el-checkbox__inner
  border-color $base-blue
  background-color $base-blue

// 弹出框样式
.el-dialog
  .el-dialog__header
    border-bottom 1px solid $color-border
  .el-dialog__body
    padding 23px
  .el-dialog__footer
    text-align center

// 单选框样式
.el-radio >  .is-checked
  .el-radio__inner
    border-color $base-blue
    background $base-blue
  .el-radio__label
    color $base-blue

.el-radio > .el-radio__input > .el-radio__inner:hover
  border-color $base-blue

// tag
.el-tag 
  border-radius 1px
  border-color $base-blue
  color $base-blue
  background #F4F8FF
.el-tag .el-tag__close
  color $base-blue
  &:hover
    border-color $base-blue
    background-color $base-blue
.el-tag--info
  background-color: #f4f4f5;
  border-color: #e9e9eb;
  color: #909399;

// table
.el-table
  color: #363746
  .el-table__empty-block
    height 200px !important
.el-table::before
  display: none
.el-table
  .el-table__body-wrapper
    font-size 14px !important
    &::-webkit-scrollbar{
      width: 6px;
    }
    &::-webkit-scrollbar:horizontal{
      height: 8px;
    }
    &::-webkit-scrollbar-thumb{
      border-radius: 6px;
      background-color: #ccc;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-corner{
      display: none;
    }


// 去掉级联选择器中的单选
.el-popper
  .el-cascader-panel
    .el-cascader-menu__list
      .el-radio
        display none

// select option
.el-select-dropdown .el-popper
  z-index: 2 !important


.el-textarea
  .el-textarea__inner
    border-radius 1px
    font-family $font-family
