.industry-tab-wapper
  background-color #ffffff
  position relative

.right-tab
  position absolute
  right 0

.industry-drawer
  height 100vh
  position fixed
  right 0
  top 0
  // z-index 2003
  z-index 2000

.table-title-wapper
  display flex
  align-items baseline
  justify-content space-between
  margin-bottom 14px
  margin-top 14px

.flex-between
  display flex
  align-items baseline
  justify-content: space-between

.pagination-wapper
  text-align center
  margin 15px 0